[tool.poetry]
name = "paramdb"
version = "0.9.1"
description = "Python package for storing and retrieving experiment parameters."
authors = ["Alex Hadley <alexhad6@gmail.com>"]
license = "BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/PainterQubits/paramdb"

[tool.poetry.dependencies]
python = "^3.10"
typing-extensions = "^4.7.1"
sqlalchemy = "^2.0.19"
zstandard = "^0.21.0"
astropy = {version = "^5.3.1", optional = true}

[tool.poetry.extras]
astropy = ["astropy"]

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
pytest-cov = "^4.1.0"
flake8 = "^6.1.0"
pylint = "^2.17.5"
mypy = "^1.4.1"
black = "^23.7.0"

[tool.poetry.group.docs.dependencies]
sphinx = "^7.1.2"
myst-parser = "^2.0.0"
furo = "^2023.7.26"
sphinx-copybutton = "^0.5.2"
jupyter-sphinx = "^0.4.0"
ipykernel = "^6.25.1"
sphinx-autobuild = "^2021.3.14"

[tool.pytest.ini_options]
addopts = ["--import-mode=importlib"]

[tool.pylint.basic]
good-names-rgxs = ["^[a-z][a-z0-9]?$"]

[tool.pylint.messages_control]
disable = ["too-few-public-methods"]

[tool.pylint.typecheck]
ignored-classes = ["sqlalchemy.orm.session.sessionmaker"]

[tool.mypy]
strict = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
